<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PriceScrapper</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1>PriceScrapper</h1>
    <p>Web service for fetching latest price of <a href="https://www.metal.com/Lithium-ion-Battery/202303240001">this</a></as></p>
    <br />
    <p>Get the latest price</p>
    <p>
      Endpoint -
      <a href="https://pricescrap.onrender.com/price"
        >https://pricescrap.onrender.com/price</a
      >
    </p>
  </body>
</html>
